.account-navigation-area {
    background-color: #212121;
}

.account-navigation-area ul {
    text-align: right;
    padding: 12px 0;
}

.account-navigation-area ul li {
    display: inline-block;
    margin: 0 10px;
}

.account-navigation-area ul li a {
    color: #fff;
}